.new-background-color{
    --background: #54d61c;
    --color: white;
}
.logo{
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}
.r-title{
    font-size: 30px;
}
.r-div{
    padding-top: 20px;
    padding-bottom: 20px;
}