.logo{
    text-align: center;
}
.logo_text{
    color: gray;
}
.welcome_text{
    color: black;
}
.logo-blank{
    height: 70px;
}
.logo-mBlank{
    height: 30px;
}
.logo-topBlank{
    height: 50px;
}
.item-native{
    padding: 0px,0px,0px,0px;
}
.submit-btn{
    --background: #54d61c;
    --background-activated:  #54d61c;
    --background-focused: #54d61c;
}