.new-background-color{
    --background: #54d61c;
    --color: white;
}
.logo{
    text-align: center;
    margin: 0px;
}
.r-title{
    font-size: 30px;
}
.r-row{
    text-align: center;
    padding: 5px;
}
.r-data{
    width: 100%;
}
.r-paper{
    text-align: center;
}
.submit-btn{
    --background: #54d61c;
    --background-activated:  #54d61c;
    --background-focused: #54d61c;
}
.r-button{
    text-align: center;
}